<%-include("./includes/header")%>
<div class="d-flex gap-2 flex-wrap">
    <%Array.from({length:10}).map(ele=>{ %>
        <div class="card" style="width: 200px;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <%})%>
</div>
<%-include("./includes/footer")%>